html {
    scroll-behavior: smooth;
}

.grow {
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(1.01);
}

.expand {
    height: 100vh !important;
}

.footer {
    padding: 3rem 1.5rem !important;
}